<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Device Wall{% endblock %}</title>

    <link href="/static/vendors/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/dw.css" rel="stylesheet">
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="/static/vendors/js/jquery-1.11.1.min.js"></script>
    <script src="/static/vendors/js/bootstrap.min.js"></script>
    <script src="/static/js/dw.js"></script>
</body>
</html>
